In [1]:
import pandas as pd

C:\Users\lclai\AppData\Local\Temp\ipykernel_25716\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [7]:
file = pd.read_csv('C:/Users/lclai/Desktop/LDIG/roboBohr.csv')
file

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,1267,1268,1269,1270,1271,1272,1273,1274,pubchem_id,Eat
0,0,73.516695,17.817765,12.469551,12.458130,12.454607,12.447345,12.433065,12.426926,12.387474,...,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,25004,-19.013763
1,1,73.516695,20.649126,18.527789,17.891535,17.887995,17.871731,17.852586,17.729842,15.864270,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25005,-10.161019
2,2,73.516695,17.830377,12.512263,12.404775,12.394493,12.391564,12.324461,12.238106,10.423249,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25006,-9.376619
3,3,73.516695,17.875810,17.871259,17.862402,17.850920,17.850440,12.558105,12.557645,12.517583,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25009,-13.776438
4,4,73.516695,17.883818,17.868256,17.864221,17.818540,12.508657,12.490519,12.450098,10.597068,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25011,-8.537140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16237,16268,73.516695,20.753166,18.624076,17.872009,17.851690,17.851254,17.742176,14.655754,12.706683,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74976,-8.876123
16238,16269,73.516695,20.724740,18.579933,17.741621,14.716676,13.697829,13.697558,13.653512,13.652942,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74977,-13.105268
16239,16270,53.358707,20.820797,19.150234,19.148721,15.135514,15.123685,12.942704,12.938162,12.488633,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74978,-16.801464
16240,16271,53.358707,15.707759,15.707644,13.653838,13.653570,13.653314,13.652591,13.652585,13.652550,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74979,-13.335088
16241,16272,53.358707,15.708752,15.708094,13.653893,13.653176,13.653120,13.652930,13.652528,13.652322,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74980,-13.336696

In [8]:
file = file[['pubchem_id','Eat']].reset_index()
file = file.drop(['index'], axis = 1)
file

       pubchem_id        Eat
0           25004 -19.013763
1           25005 -10.161019
2           25006  -9.376619
3           25009 -13.776438
4           25011  -8.537140
...           ...        ...
16237       74976  -8.876123
16238       74977 -13.105268
16239       74978 -16.801464
16240       74979 -13.335088
16241       74980 -13.336696

[16242 rows x 2 columns]

In [ ]:
file['pubchem_id'].to_csv('pubchem_ids.csv', header=False, index=False)